:root{
  /* color */
  --white-color:#fff;
  --black-color:#140a00;
  --blue-color:#045fd4;
  --red-color: #ff0000;
  --dark-grey-color:#222222;
  --light-grey-color:#9d9d9d;

  /* size */
  --padding:12px;
  --avatar-size:36px;

  /* font Size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

ul {
  list-style: none;
}

button,button:focus {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: white;
}

/*header*/
header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  background-color: var(--dark-grey-color);
  color:var(--white-color);
}

header .logo{
  font-size: var(--font-large);
}

header .logo i{
  color: var(--red-color);
}

header .icons .fa-search{
  margin-right: var(--padding);
}

/*video Player*/
.player {
  position: sticky;
  top:0;
  background-color: black;
  text-align: center;
}

.player video {
  width:33%;
  height: 33%;
  max-width: 200px;
}

.info .metadata {
padding: var(--padding);
}

.info .metadata .hashtags {
  display: flex;
  font-size: var(--font-small);
  color:var(--blue-color);
}

.info .metadata .hashtags li {
  margin-right: var(--padding);
}

.info .metadata .titleAndBtn {
  display: flex;
}

.info .metadata .titleAndBtn .title{
  font-size: var(--font-large);
  margin-right: var(--padding);
}

.info .metadata .titleAndBtn .title.clamp {
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
overflow: hidden;
}

.info .metadata .titleAndBtn .morebtn {
  height: 100%;
}

.info .metadata .titleAndBtn .morebtn.clicked {
  transform: rotate(180deg);
}

.info .views {
  font-size: var(--font-small);
  color: var(--light-grey-color);
}

.info .actions {
  display: flex;
  justify-content: space-around;
  margin: var(--padding);
  margin-top: 0;
}

.info .actions button {
  display: flex;
  flex-direction: column;
  font-size: var(--font-small);
  color: var(--light-grey-color);
}

.info .actions button i{
  margin: auto;
  padding: calc(var(--padding)/2);
  font-size: 16px
}
.info .actions button span{
  margin: auto;
}

.info .actions button.active{
  color: var(--blue-color);
}

.info .channel {
  padding-left: var(--padding);
  padding-right: var(--padding);
  display: flex;
  justify-content:space-between;
  border-top: 1px solid var(--light-grey-color);
  border-bottom: 1px solid var(--light-grey-color);
  align-items: center;
}

.info .channel .metadata{
  display: flex;
  align-items: center;
  padding: 0;
}

.info .channel .metadata img{
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
}

.info .channel .metadata .info{
  display: flex;
  flex-direction: column;
  padding: var(--padding);
}

.info .channel .metadata .info .name {
  font-size: var(--font-medium);
}

.info .channel .metadata .info .subscribers {
  font-size: var(--font-small);
  color: var(--light-grey-color);
}
.info .channel .subscribe button{
  font-size: var(--font-medium);
  color: var(--red-color);
}

.info .comments {
  border-bottom: 1px solid var(--light-grey-color);
  padding: var(--padding);
}

.info .comments button{
  width: 100%;
}

.info .comments .comments_btn div{
  display:  flex;
  justify-content: space-between;
}

.upNext {
  padding: var(--padding);
}

.upNext .upnt {
  font-size: var(--font-medium);
  padding: 6px  0px;
}
.upNext .some {
  width: 100%;
}

.upNext .ntvp {
  padding-top: var(--padding);
}

.upNext .ntvp .info .avar {
  width: calc(var(--avatar-size)*1.3);
  height: calc(var(--avatar-size)*1.3);
  border-radius: 50%;
  margin-right: var(--padding);
}

.upNext .ntvp .info {
  display: flex;
  padding: calc(var(--padding)/2) 0;
  align-items: center;
}

.upNext .ntvp .info .info_in{
  display: flex;
  flex-direction: column;
}

.upNext .ntvp .info .info_in .title {
  font-size: var(--font-medium);
  margin-bottom: calc(var(--padding)/2);
}

.upNext .ntvp .info .info_in .nameAndviews {
  font-size: var(--font-small);
  color: var(--light-grey-color);
}


.playerAndinfoAndUpNext {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 800px) {
  .playerAndinfoAndUpNext {
    flex-direction: row;
  }
}
